.container {
    @apply mx-auto max-w-6xl;
    width: calc(100% - 2rem)
}

section, .section-paddings {
    @apply py-20 md:py-24;  
}

.section-title {
    @apply text-center mb-8 md:mb-12 text-3xl md:text-4xl font-bold;
}

.home-page section:nth-child(even) {
    background: rgba(0, 64, 255, 0.025);
}

.gallery {
    column-count: 3;
    column-gap: 15px;
}